doctype html
html(lang="en")
    head
        title title
        link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet",href="/css/style.css")
    body
        nav.navbar.navbar-expand.navbar-dark.bg-dark.mb-2
            .container
                a.navbar-brand(href='#') 菜鸟钱曹宇的个人主页
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample02', aria-controls='navbarsExample02', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExample02.collapse.navbar-collapse
                    ul.navbar-nav.amr-auto
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/articles/new') Add Article


        .container
        .messages
            each type in Object.keys(messages)
                ul(class="#{type}")
                    each message in messages[type]
                        li= message
        != messages('message', locals)

        if errors
            each error , i in errors
                div(class="alert alert-danger") #{error.msg}
        block content
        br
        hr
        footer
            p Copyright &copy; 2018
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js")
