extends layout

block content
    h1 #{title}
    form(method="post",action="/articles/create")
        .form-group
            label Title:
            input.form-control(name='title',type='text')
        .form-grpup
            label Author:
            input.form-control(name='author',type='text')
        .form-group
            label Body:
            input.form-control(name='body',type='text')
        br
        input.btn.btn-primart(type='submit',value='submit')