extends ../layout

block content
    h1 Edit Article
    form(method="post",action="/articles/update/" + article._id)
        .form-group
            label Title:
            input.form-control(name='title',type='text',value=article.title)
        .form-grpup
            label Author:
            input.form-control(name='author',type='text',value=article.author)
        .form-group
            label Body:
            textarea.form-control(name='body')= article.body
        br
        input.btn.btn-primart(type='submit',value='submit')