extends ../layout

block content
    h1 Log in
    form(method="post",action="/users/login")
        .form-group
            label 用户名:
            input.form-control(name='username',type='text')
        .form-group
            label 密钥:
            input.form-control(name='password',type='password')
        .form-group
            label 输入验证码:
            p!= svg_data
            input.form-control(name='verify',type='text')
        br
        input.btn.btn-primart(type='submit',value='登陆')